@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.container {
  margin: 0 1em;

  .title {
    margin: 1em;
    font-size: 45px;
    font-family: "Bebas Neue", cursive;
  }
  .mainContent {
    .CoinsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .option {
        position: sticky;
        position: -webkit-sticky;
        width: 100%;
        z-index: 3;
        background-color: white;
        top: -1px;
        .firstRow {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          z-index: 3;
          background-color: white;
          .coinContainer {
            cursor: unset;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
      .coinContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em;
        flex-basis: 100%;
        flex-wrap: wrap;
        cursor: pointer;
        padding: 10px 0;
        &:hover {
          background-color: rgba(128, 128, 128, 0.3);
        }

        .firstColumn {
          flex-basis: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 2em;
          padding: 0 5px;
        }
        .secondColumn {
          padding: 0 5px;
          width: 200px;
          display: flex;
          align-items: center;
          flex-basis: 35%;
          .CoinIcon {
            width: 40px;
            height: 40px;
          }
          .coinData {
            margin-left: 1em;
          }
        }
        .thirdColumn {
          padding: 0 5px;
          display: flex;
          align-items: center;
          flex-basis: 20%;
          width: 100px;
        }
        .fourthColumn {
          padding: 0 5px;
          display: flex;
          align-items: center;
          flex-basis: 25%;
        }
      }
    }
    .dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1em;
      font-size: 14px;
      color: rgb(83, 83, 83);
      div {
        display: flex;
        flex-wrap: wrap;
      }
      .dot {
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0.5em;
        cursor: pointer;
      }
    }
  }
}
